[DEFAULT]
name = VM144
portal=10.122.127.144/portal
resources= 
token = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkMjVlZGYyMC1hZDgyLTExZWQtOGM2MS0zZDVlNTFmZDMyZGYiLCJuYW0iOiJhZG1pbiIsImlzcyI6IkJQQS1hZG1pbihicGFhZG1pbkBjaXNjby5jb20pIGNpc2Nvc3lzdGVtcyIsInJvbCI6IiIsInJybCI6IkJQQSBTdXBlciBBZG1pbiIsImV4cCI6MTY5ODI1MTYwNDAwMCwiZm5tIjoiYWRtaW4iLCJsbm0iOiJhZG1pbiIsImVtbCI6InJhamFra2hhQGNpc2NvLmNvbSIsInNpZCI6IjA2ZDBjZmYwLTczNTAtMTFlZS05NGY0LTNmN2Y1YThkNjE1YSIsImFkbSI6dHJ1ZSwicmRtIjp0cnVlLCJhZWkiOjMwLCJ0bnQiOiIwZDZhNDY5MC02M2U2LTExZWQtOWE3Zi00OTlmMjkzZjM0NmQiLCJ0eXBlIjoiYWNjZXNzIiwiYXV0aC1tb2RlIjoibG9jYWwiLCJncm91cC1hdXRoIjpmYWxzZSwiaWF0IjoxNjk4MjQ5ODA0fQ.fDLMRp1QaEVSIuRJT4fR3LNK1Utx8uZ9TKLj9sJoPuk